<div role="main" class="ui-content">
<h2>Favourite list</h2>
    <div id="fav-content"></div>
</div>
<script>
	$("#fav-content").html(favourites);

  if (typeof(favourites) == 'object') {
    var html = "";
    for(var cat in favourites) {
      temp_cat = JSON.parse(localStorage.getItem(cat));
      for(var mission in eval('favourites.' + cat)){
        var temp = eval('temp_cat.questions.' + mission + '.title');
        html += "<b>" + cat + "</b> - " + temp + "<br>";
      }
    }
    $("#fav-content").html(html);
  }
</script>
