 <div data-role="tabs" id="tabs" >
   	<div data-role="navbar" data-transition="slide">
      <ul>
        <li><a href="#ess">Essentials</a></li>
        <li><a href="#ppl">People</a></li>
        <li><a href="#sty">Study</a></li>
        <li><a href="#cmp">Campuses</a></li>
	  </ul>
   	</div><!-- /navbar -->
  
    <div id="ess">
		<ul data-role="listview" data-inset="true">
        	<li><a href="#">Mission 1</a></li>
			<li><a href="#">Mission 2</a></li>
        	<li><a href="#">Mission 3</a></li>
        	<li><a href="#">Mission 4</a></li>
        </ul>
	</div>
        
	<div id="ppl">
		<ul data-role="listview" data-inset="true">
			<li><a href="#">Mission 5</a></li>
            <li><a href="#">Mission 6</a></li>
            <li><a href="#">Mission 7</a></li>
            <li><a href="#">Mission 8</a></li>
        </ul>
	</div>
        
    <div id="sty">
        <ul data-role="listview" data-inset="true">
            <li><a href="#">Mission 9</a></li>
            <li><a href="#">Mission 10</a></li>
            <li><a href="#">Mission 11</a></li>
            <li><a href="#">Mission 12</a></li>
        </ul>
	</div>
        
    <div id="cmp">
        <ul data-role="listview" data-inset="true">
            <li><a href="#">Mission 9</a></li>
            <li><a href="#">Mission 10</a></li>
            <li><a href="#">Mission 11</a></li>
            <li><a href="#">Mission 12</a></li>
        </ul>
	</div>
</div>

