<div class="tabs" >
    <ul class="tab-links">
        <li><a href="#tab-Campuses">Campuses</a></li>
        <li class="active"><a href="#tab-Essentials">Essentials</a></li>
        <li><a href="#tab-People">People</a></li>
        <li><a href="#tab-Study">Study</a></li>
    </ul>

    <div class="tab-content">
      <div id="tab-Essentials" class="tab active">
        <ul>
        </ul>
      </div>

      <div id="tab-Study" class="tab">
        <ul>
        </ul>
      </div>

      <div id="tab-People" class="tab">
        <ul>
        </ul>
      </div>

      <div id="tab-Campuses" class="tab">
        <ul>
        </ul>
      </div>
    </div>
</div>

<script>
jQuery(document).ready(function() {
    jQuery('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = jQuery(this).attr('href');

        // Show/Hide Tabs
        jQuery('.tabs ' + currentAttrValue).show().siblings().hide();

        // Change/remove current tab to active
        jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

        e.preventDefault();
    });
});
var chest_closed = '<li><div class="closed"><img src="img/treasure_closed.png"><br><span>title</span></div></li>';
var chest_open = '<li><div class="open"><img src="img/treasure_open.png"><br><span>title</span></div></li>';
</script>
