<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Essentials</a></li>
        <li><a href="#tab2">Study</a></li>
        <li><a href="#tab3">People</a></li>
        <li><a href="#tab4">Campuses</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p>Tab #1 content goes here!</p>
        </div>

        <div id="tab2" class="tab">
            <p>Tab #2 content goes here!</p>
        </div>

        <div id="tab3" class="tab">
            <p>Tab #3 content goes here!</p>
        </div>

        <div id="tab4" class="tab">
            <p>Tab #4 content goes here!</p>
        </div>
    </div>
</div>

<script>
jQuery(document).ready(function() {
    jQuery('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = jQuery(this).attr('href');

        // Show/Hide Tabs
        jQuery('.tabs ' + currentAttrValue).show().siblings().hide();

        // Change/remove current tab to active
        jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

        e.preventDefault();
    });
});
</script>
