<h2>Page content</h2>
          <ul data-role="listview" id="navList" data-inset="true">
          <li><a href="#" view="missionList" class="ui-btn ui-btn-icon-left ui-icon-lock">Mission1</a></li> 
          <li><a href="#" view="mission" class="ui-btn ui-btn-icon-left ui-icon-lock">Mission</a></li> 
          <li><a href="#" view="fav" class="ui-btn ui-btn-icon-left ui-icon-heart">Favourites</a></li> 
          <li><a href="#" view="map" class="ui-btn ui-btn-icon-left ui-icon-location">Maps</a></li> 
          <li><a href="#" view="newsletter" class="ui-btn ui-btn-icon-left ui-icon-info">Newsletter</a></li> 
          <li><a href="#" view="points-pg" class="ui-btn ui-btn-icon-left ui-icon-star">Points</a></li> 
          </ul>	
          
<script>   
// load ajax
loadView = function() {
    viewName = $(this).attr("view");
    console.log("v " + viewName);

    // load ajax;
    $.ajax({
      url: "views/" + viewName + ".html"
    })
    .done(function( data ) {
      $('#content-frame').html(data);
      	  $('#defaultpanel').panel( "close" );
    });
  };
  
// assigning listeners
$("#navList li a").click(loadView);
</script> 