<h2>Categories</h2>
<ul data-role="listview" id="mission-categories" class="ui-nodisc-icon">
  <li><a href="#" view="campuses" class="ui-alt-icon">Campuses</a></li>
  <li><a href="#" view="essentials" class="ui-alt-icon">Essentials</a></li>
  <li><a href="#" view="people" class="ui-alt-icon">People</a></li>
  <li><a href="#" view="study" class="ui-alt-icon">Study</a></li>
</ul>
<table id="nav-buttons">
  <tr>
    <td view="newsletter">Newsletter</td>
    <td view="guide">Guide</td>
  </tr>
  <tr>
    <td view="map">Map of Campuses</td>
    <td view="favourites">Favourites</td>
  </tr>
</table>

<script>
  // function to dynamically load new pages using AJAX
  loadCategory = function() {
    categoryName = $(this).attr("view");
    console.log(categoryName);

    // make element active
    $('.active-btn').addClass('ui-alt-icon').removeClass('active-btn');
    $(this).addClass('active-btn').removeClass('ui-alt-icon');

    // loadOff view listeners

    // load ajax
    retrievedCategory = null;
    if (localStorage.getItem('categoryName') == null)
    {
      $.ajax({
        url: "model/" + categoryName + ".json"
      })
      .done(function( data ) {
        // save JSON as string in localStorage
        localStorage.setItem('categoryName', JSON.stringify(data));
        retrievedCategory = data;
      });
    }
    else {
      retrievedCategory = JSON.parse(localStorage.getItem('categoryName'));
    }

    console.log('retrievedCategory: ', retrievedCategory);

    // make it JSON

    // dynamically create content
  };
  loadView = function() {
    viewName = $(this).attr("view");
    console.log(viewName);

    // make element active
    $('.active-btn').addClass('ui-alt-icon').removeClass('active-btn');
    $(this).addClass('active-btn').removeClass('ui-alt-icon');

    // loadOff view listeners

    // load ajax;
    $.ajax({
      url: "views/" + viewName + ".html"
    })
    .done(function( data ) {
      $('#content-frame').html(data);
    });
  };

  // assigning listeners
  $('#mission-categories li a').click(loadCategory);
  $("#nav-buttons tr td").click(loadView);


  // loadOff to be run when the view is changed, to shut down listeners
  loadOffPanned = function() {
    $('#mission-categories li a').unbind();
  };
</script>
