<h2>Categories</h2>
<ul data-role="listview" id="mission-categories" class="ui-nodisc-icon">
  <li><a href="#" view="Campuses" class="ui-alt-icon">Campuses</a></li>
  <li><a href="#" view="Essentials" class="ui-alt-icon">Essentials</a></li>
  <li><a href="#" view="People" class="ui-alt-icon">People</a></li>
  <li><a href="#" view="Study" class="ui-alt-icon">Study</a></li>
</ul>
<table id="nav-buttons">
  <tr>
    <td view="Newsletter">Newsletter</td>
    <td view="Guide">Guide</td>
  </tr>
  <tr>
    <td view="Map">Map of Campuses</td>
    <td view="Favourites">Favourites</td>
  </tr>
</table>

<script>
  currentCategory = null;
  currentId = null;


  // function to dynamically load new pages using AJAX
  loadCategory = function() {

    categoryName = $(this).attr("view");
    // console.log("c " + categoryName);

    // make element active
    $('.active-btn').addClass('ui-alt-icon').removeClass('active-btn');
    $(this).addClass('active-btn').removeClass('ui-alt-icon');

    // loadOff view listeners

    // load ajax
    retrievedCategory = null;
    currentCategory = categoryName;
    currentId = 1;
    if (localStorage.getItem(categoryName) == null)
    {
      $.ajax({
        url: "models/" + categoryName + ".json"
      })
      .done(function( data ) {
        console.log("data");
        console.log(data);
        // save JSON as string in localStorage
        localStorage.setItem(categoryName, JSON.stringify(data));
        retrievedCategory = data;
        // dynamically create content
        loadQuestion(1, data);
      });
    }
    else {
      retrievedCategory = JSON.parse(localStorage.getItem(categoryName));
      console.log("saved");
      console.log(retrievedCategory);
      // dynamically create content

      loadQuestion(currentId, retrievedCategory);
    }
  };
  loadView = function() {
    viewName = $(this).attr("view");
    console.log("v " + viewName);

    // make element active
    $('.active-btn').addClass('ui-alt-icon').removeClass('active-btn');
    $(this).addClass('active-btn').removeClass('ui-alt-icon');

    // loadOff view listeners

    // load ajax;
    $.ajax({
      url: "views/" + viewName + ".html"
    })
    .done(function( data ) {
      changePageTitle(viewName);
      $('#content-frame').html(data);
    });
  };

  // assigning listeners
  $('#mission-categories li a').click(loadCategory);
  $("#nav-buttons tr td").click(loadView);


  // loadOff to be run when the view is changed, to shut down listeners
  loadOffPanned = function() {
    $('#mission-categories li a').unbind();
  };

  changePageTitle = function(newName) {
    $('#title').html(newName);
  }

// should be in questions controller
  var correctAnswer = null;
  var userScore = 0;
  loadQuestion = function(id, retrievedCategory) {
    $.ajax({
      url: "views/questionPage.html"
    })
    .done(function( dataPage ) {
      changePageTitle("Question");
      $('#content-frame').html(dataPage);
      displayQuestion(id, retrievedCategory);
    });
  };
  displayQuestion = function(id, retrievedCategory) {
    if (id < 1) return;
    console.log(currentCategory);
    console.log(retrievedCategory);
    currentQuestion = eval("retrievedCategory.questions.q" + id);
    $("#question").html(currentQuestion.title);
    $("#opt-a").html(currentQuestion.answers.a);
    $("#opt-b").html(currentQuestion.answers.b);
    $("#opt-c").html(currentQuestion.answers.c);
    $("#opt-d").html(currentQuestion.answers.d);
    correctAnswer = currentQuestion.right;
  };
  addToScoreAndUpdate = function() {
    userScore += 10;
    $('#panelPoints').html(userScore).addClass('hulk');
    setTimeout(function(){
      $('#panelPoints').removeClass('hulk');
    }, 500);
  };
// end of questions controller
</script>
