<div class="center-page">
  <h2 id="question">TITLE</h2>
  <ul id="answers">
    <li><div id="opt-a" class="my-btn answer-btn answer-btn-active blue-bg">a</div></li>
    <li><div id="opt-b" class="my-btn answer-btn answer-btn-active blue-bg">b</div></li>
    <li><div id="opt-c" class="my-btn answer-btn answer-btn-active blue-bg">c</div></li>
    <li><div id="opt-d" class="my-btn answer-btn answer-btn-active blue-bg">d</div></li>
  </ul>
</div>

<script>
  $(".answer-btn").click(function() {
    // TODO tansfer the bg responsive translation in JS or remove it
    if ($(this).attr('id') == "opt-" + correctAnswer) {
      $('#content-frame').append("correct");
      $(this).removeClass('blue-bg').addClass('green-bg');
      addToScoreAndUpdate();
    }
    else {
      $('#content-frame').append("wrong");
      $(this).removeClass('blue-bg').addClass('red-bg');
      $('#opt-' + correctAnswer).removeClass('blue-bg').addClass('green-bg');
    }
    $('.answer-btn').unbind('click');
    //remove css animations
    $('.answer-btn').removeClass('answer-btn-active');
  });
/**/
</script>
