<div class="center-page">
  <h2 id="question">TITLE</h2>
  <table id="answers">
    <tr>
      <td>
        <div id="opt-a" class="my-btn answer-btn answer-btn-active blue-bg">a</div>
      </td><td>
        <div id="opt-b" class="my-btn answer-btn answer-btn-active blue-bg">b</div>
      </td>
    </tr><tr>
      <td>
        <div id="opt-c" class="my-btn answer-btn answer-btn-active blue-bg">c</div>
      </td><td>
        <div id="opt-d" class="my-btn answer-btn answer-btn-active blue-bg">d</div>
      </td>
    </tr>
  </table>

  <ul id="answers-pic">
    <li><div id="opt-a" class="answer-btn"><div id="overlay"></div></div></li>
    <li><img id="opt-b" class="answer-btn"></img></li>
    <li><img id="opt-c" class="answer-btn"></img></li>
    <li><img id="opt-d" class="answer-btn"></img></li>
  </ul>
</div>



<div style="
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;">
  <span class="color-orange">+<span id="question-possible-points">10</span></span><img src="img/Star.png" style="height: 1.1em;"> for the right answer
  <div id="skip-btn" class="my-btn" style="margin: 1em auto;">Skip</div>
</div>

<script>
  $(".answer-btn").click(function() {
    // TODO tansfer the bg responsive translation in JS or remove it
    if ($(this).attr('id') == "opt-" + correctAnswer) {
      $('#content-frame').append("correct");
      $(this).removeClass('blue-bg').addClass('green-bg');
      addToScoreAndUpdate();
    }
    else {
      $('#content-frame').append("wrong");
      $(this).removeClass('blue-bg').addClass('red-bg');
      $('#opt-' + correctAnswer).removeClass('blue-bg').addClass('green-bg');
    }
    $("#td-points-available").html("");
    $('.answer-btn').unbind('click');
    //remove css animations
    $('.answer-btn').removeClass('answer-btn-active');
    $("#skip-btn").html('Next');
  });

  $("#skip-btn").click(function() {
    loadQuestion(currentMission, ++currentId);
  });
/**/
</script>
