<div class="center-page">
  <h2 id="question">TITLE</h2>
  <table id="answers">
    <tr>
      <td>
        <div id="opt-a" class="my-btn answer-btn answer-btn-active blue-bg">a</div>
      </td><td>
        <div id="opt-b" class="my-btn answer-btn answer-btn-active blue-bg">b</div>
      </td>
    </tr><tr>
      <td>
        <div id="opt-c" class="my-btn answer-btn answer-btn-active blue-bg">c</div>
      </td><td>
        <div id="opt-d" class="my-btn answer-btn answer-btn-active blue-bg">d</div>
      </td>
    </tr>
  </table>

  <ul id="answers-pic">
    <li><img id="opt-a" class="answer-btn"></img></li>
    <li><img id="opt-b" class="answer-btn"></img></li>
    <li><img id="opt-c" class="answer-btn"></img></li>
    <li><img id="opt-d" class="answer-btn"></img></li>
  </ul>
</div>

<div style="
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;">
  <span class="color-orange">+<span id="question-possible-points">10</span></span><img src="img/Star.png" style="height: 1.1em;"> for the right answer

  <table style="width: 100%; text-align: center;">
    <tbody>
      <tr><td>
        <div id="fav-btn" class="my-btn" style="margin: 1em auto;">Favourite</div>
      </td><td>
        <div id="skip-btn" class="my-btn" style="margin: 1em auto;">Skip</div>

  </td></tr></tbody></table>
</div>

<script>

  // checks if mission is favourited and applies the right css
  if (eval('favourites.' + currentCategory + '.' + currentMission)) $('#fav-btn').addClass('fav-btn-true');
  else $('#fav-btn').addClass('fav-btn-false');

  $(".answer-btn").click(function() {
    // TODO tansfer the bg responsive translation in JS or remove it
    if ($(this).attr('id') == "opt-" + correctAnswer) {
      // $('#content-frame').append("correct");
      $(this).removeClass('blue-bg').addClass('green-bg');
      addToStats(true); // add one correct to statistics
      addToScoreAndUpdate();
    }
    else {
      // $('#content-frame').append("wrong");
      $(this).removeClass('blue-bg').addClass('red-bg');
      $('#opt-' + correctAnswer).removeClass('blue-bg').addClass('green-bg');
      addToStats(false); // add one wrong to statistics
    }
    $("#td-points-available").html("");
    $('.answer-btn').unbind('click');
    //remove css animations
    $('.answer-btn').removeClass('answer-btn-active');
    $("#skip-btn").html('Next');
  });

  $("#skip-btn").click(function() {
    loadQuestion(currentMission, ++currentId);
  });

  $("#fav-btn").click(function() {
    // fav on click event
    if ($(this).hasClass('fav-btn-false')) {
      // add to favourites
      $(this).removeClass('fav-btn-false').addClass('fav-btn-true');
      eval('favourites.' + currentCategory + '.' + currentMission + ' = true');
    }
    else if ($(this).hasClass('fav-btn-true')) {
      // remove from favourites
      $(this).removeClass('fav-btn-true').addClass('fav-btn-false');
      eval('delete favourites.' + currentCategory + '.' + currentMission);
    }
    saveFav();
  });

  saveFav = function() {
    // saves favourites to localStorage
    localStorage.setItem('fav', JSON.stringify(favourites));
  };

  var addToStats = function(bool) {
    if (bool == undefined) return;
    else if (bool) {
      // add one to correct
      var correct = eval('doneMissions.' + currentCategory + '.correct');
      correct++;
      eval('doneMissions.' + currentCategory + '.correct = ' + correct);
    }
    else {
      var wrong = eval('doneMissions.' + currentCategory + '.wrong');
      wrong++;
      eval('doneMissions.' + currentCategory + '.wrong = ' + wrong);
    }
    // don't save, it will be saved at end of mission
    // localStorage.setItem('done', JSON.stringify(doneMissions));
  }
/**/
</script>
