<div style="text-align: center;">
  <h2>Score</h2>
  <div id="user-score"></div>
</div>
<script>

  var score = doneMissions.score;
  var html = "<div class='color-orange' style='font-size: 150%'>" + score + " Points</div>";
  $('#user-score').append(html);

  for (var cat in doneMissions){
    var correct = eval("doneMissions." + cat + ".correct");
    var wrong = eval("doneMissions." + cat + ".wrong");
    // if (correct != undefined && wrong != undefined && (correct != 0))
    if (correct != undefined && wrong != undefined && (correct != 0 || wrong != 0)) {
      var html = "<h3 style='margin-bottom: 5px'>" + cat + "</h3>" +
            "<i>correct:</i> " + correct + "<br>" +
            "<i>wrong:</i> " + wrong;
      $('#user-score').append(html);
    }
  }
</script>
