/* phone */
@media screen and (max-width: 736px) {
  div.ui-content{
    width: 91%;
  }
  .tablet-elem{
    display: none !important;
  }
}
/* tablet */
@media screen and (min-width: 737px) {
  div.ui-content{
    width: 74%;
  }
  .phone-elem{
    display: none !important;
  }
}
