/* phone */
@media screen and (max-width: 736px) {
  div.ui-content{
    width: 100%;
  }
  div.ui-content div.home-box {
    margin: 1em 4%;
  }
  #content{
    width: 100%;
  }
  .tablet-elem{
    display: none !important;
  }
}
/* pannel tablet */
@media screen and (min-width: 737px) {
  div.ui-content{
    width: 100%;
  }
  .content{
    width: 74% !important;
  }
  /* pannel tablet */
  #content-frame{
    width: 66%;
    padding: 0 1%;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    overflow-x: scroll;
  }
  #panel-tablet{
    width: 30%;
    left: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    border-right: 2px solid #eee;
  }
  #panel-tablet{
    padding: 1%;
  }
  #panel-tablet h2{
    margin: 0 0 .5em 0;
  }
  #panel-tablet ul li a{
    padding-left: 2em;
  }
  #mission-categories{
    margin-top: 0 !important;
    margin-right: -.7em;
  }
  #mission-categories li:focus, #mission-categories li:hover, #mission-categories li:active{
    background-color: #2f76d3 !important;
    color: white !important;
  }

  #nav-buttons{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
  }
  #nav-buttons tr td{
    width: 50%;
  }
  #nav-buttons tr td::after{
    /* background-image: blue icon */
  }

  /* Question page */
  .center-page{
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    position: absolute;
  }
  table#answers {
    width: 100%;
  }
  table#answers tr td{
    text-align: center;
    width: 50%
  }
  table#answers tr td div{
    width: 94%;
    margin: 0;
    display: inline-block;
  }
  ul#answers, ul#answers-pic{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
  }
  ul#answers li, ul#answers-pic li{
    display: inline-block;
    width: 49%;
    margin: .5em 0;
    text-align: center;
  }
  ul#answers li div.answer-btn{
    width: 90%;
    margin: 0 auto;
  }
  ul#answers li:nth-child(even), ul#answers-pic li:nth-child(even){
    float: right;
  }
  ul#answers li:nth-child(odd), ul#answers-pic li:nth-child(odd){
    float: left;
  }
  ul#answers-pic li div.answer-btn {
    width: 200px;
    height: 200px;
    background-size: cover !important;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  /*
  .question-table-td-btn {
    width: 1%;
    vertical-align: bottom;
  }
  .question-table-td-score {
    text-align: center;
    padding-bottom: 10%;
    vertical-align: top;
  }
  .question-table-td-score span{
    font-weight: bold;
  }
  */


  /* end pannel tablet */
  .phone-elem{
    display: none !important;
  }

  /* missions page */
  .tab-links{
    display: none;
  }
  .tab-content{
    background: transparent;
    box-shadow: none;
  }
  .tab{
    text-align: center;
    display: block;
  }
  div.tab ul {
    display: inline-flex;
    padding: 0;
  }
  div.tab ul li {
    display: inline-block;
    margin: 1em;
  }
  div.tab ul li div span {
    text-align: center;
    display: block;
  }
}
